body {
    background-color: black;
}



.hero-img {
    max-height: 50vh;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}